* {
  padding: 0px;
}

#container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  color: #1b212c;
  font-family: "Lato", sans-serif;
  text-align: center;
}

header {
  background-color: #02adfb;
  padding: 5px;
  color: #1b212c;
  font-family: "Lato", sans-serif;
}

h1 {
  margin: 0;
}

section {
  text-align: center;
}

ul {
  list-style-type: none;
  line-height: 1.5em;
}

footer {
  font-size: 0.7em;
}
